<!DOCTYPE html>
<html>
<body>
	<div style="margin:10px;" align="center">
	    <h3>안녕하세요.</h3>
	    <h3><b style="color:#0DD36E">마운틴고</b> 임시 비밀 번호 발급 안내입니다.</h3>
	    <br>
	    <p>아래 임시 비밀번호로 로그인하여</p>
	    <p>비밀 번호를 변경하시기 바랍니다.</p>
	    <br>
	    <div style="color:#FFFFFF; text-decoration: none">
			<div th:text="${tempPassword}"align="center" style="color:#FFFFFF; background-color:#0DD36E; width: 200px; height: 40px; line-height: 40px; border: none; border-radius: 20px; vertical-align: middle;"> 
			</div>
	    </div>
	</div>
</body>
</html>